@model _5204_PassionProject.Models.ViewModels.InstrumentDetails

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="container">
    <div class="row">
        <div class="col-lg-4">

            <h3>@Model.instrument.instrumentbrand @Model.instrument.instrumenttitle</h3>
            @if (Model.artists.Count != 0) //if there exists artists that play this instrument
            {
                <p>Artists that play this instrument:</p>
                <ul>
                    @foreach (var artist in Model.artists)
                    {
                    <li>
                        <a href="@Url.Action("Details", "Artists", new { id = artist.artistid})">@artist.artistfname @artist.artistlname</a>
                        @Html.ActionLink(HttpUtility.HtmlDecode("&#x2716;"), "DeleteArtistInstrument", new { instrumentid = Model.instrument.instrumentid, artistid = artist.artistid })
                    </li>
                    }
                </ul>
            }
            else
            {
                <p>No artists currently play this instrument</p>
            }
            <form action="" method="post" class="artist-inst-form">
                @Html.AntiForgeryToken()
                <input type="hidden" name="instrumentid" id="instrumentid" value="@Model.instrument.instrumentid" />
                <div class="form-group">
                    <label for="artistid">Artist: </label>
                    <select id="artistid" name="artistid" class="form-control">
                        <!--for each... artist-->
                        @foreach (var allArt in Model.allArtists)
                        {
                            <option value="@allArt.artistid">@allArt.artistfname @allArt.artistlname</option>
                        }
                    </select>
                    <div>
                        <input type="submit" id="submit" value="Add" class="btn btn-success" />
                    </div>
                </div>
            </form>
            <div style="margin-top: 10rem">
                <a class="btn btn-primary" href="@Url.Action("Index")" role="button">Go Back</a>
                <a class="btn btn-warning" href="@Url.Action("Edit", new { id = Model.instrument.instrumentid})" role="button">Edit</a>
                <a data-toggle="modal" data-target="#modal-@Model.instrument.instrumentid" class="btn btn-danger">Delete</a>
            </div>
        </div>
        <div class="col-lg-8">
            @if (Model.instrument.instrumentimage != "")
            {
                <img class="img-rounded instrumentimage-xl" src="~/Content/Instruments/@Model.instrument.instrumentimage" alt="An image of the instrument" />
            }
            else
            {
                <img class="thumbnail instrumentimage-xl" src="~/Content/blank.png" alt="The default GearLog image" />
            }
            <br />
            <p><strong>Brand: </strong>@Model.instrument.instrumentbrand</p>
            <p><strong>Model: </strong>@Model.instrument.instrumenttitle</p>
            <p><strong>Instrument Type: </strong>@Model.instrument.instrumenttype</p>
            <p><strong>Strings: </strong>@Model.instrument.instrumentstrings</p>
            <p><strong>Body: </strong>@Model.instrument.instrumentbody</p>
            <p><strong>Neck: </strong>@Model.instrument.instrumentneck</p>
            <p><strong>Fretboard: </strong>@Model.instrument.instrumentfretboard</p>
            <p><strong>Bridge: </strong>@Model.instrument.instrumentbridge</p>
            <p><strong>Neck Pickup: </strong>@Model.instrument.instrumentneckpu</p>
            <p><strong>Bridge Pickup: </strong>@Model.instrument.instrumentbridgepu</p>
            <p><strong>Features: </strong>@Model.instrument.instrumentfeatures</p>
            <a href="@Model.instrument.instrumenturl" target="_blank">Manufacturer Website</a>

        </div>
    </div>
</div>

<!-- Reference: below code from modal example on the bootstrap website -->
<div class="modal fade" id="modal-@Model.instrument.instrumentid" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-body">
                Are you sure you want to delete the <strong>@Model.instrument.instrumentbrand @Model.instrument.instrumenttitle</strong>?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" onclick="window.location='@Url.Action("Delete", new { id = Model.instrument.instrumentid})';">Delete</button>
            </div>
        </div>
    </div>
</div>
